*{
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
}
ul{
    list-style: none;
}
.feature,.product,.product-feature,.crew,.contact,footer section,header article,header form{
    width: 61%;
    margin:  auto;
}

.h{
    background-image: url(images/background.jpg);
    width: 100%;
    height: 990px;
    color: white;
    text-align: center;
}
header article{
    position: absolute;
    top: 200px;
    left: 315px;
}
header article h5{
    font-size: 62px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 77px;
}
header article p{
    opacity: 0.7;
}
header form{
    position: relative;
    top: 529px;
    border: 1px solid white;
    padding: 48px 0;
    text-transform: uppercase;
}
header form p:nth-of-type(1){
    letter-spacing: 3px;
}
header form p:nth-of-type(2){
    padding-bottom: 38px;
    opacity: 0.7;
}
header form input{
    border: 1px solid white;
    background: transparent;  /*input 底部透明*/
    box-sizing: border-box;
    width: 300px;
    height: 38px;
    margin-right: 26px;
    font-weight: bolder;
    color: white;
    padding-left: 15px;
}
header form button{
    box-sizing: border-box;
    width: 122px;
    height: 40px;
}
header form button:hover{
    background-color: transparent;
    color: white;
}

.feature{
    height: 715px;
}
.feature header h5,.feature header h1{
    padding-top: 40px;
    text-align: center;
}
.feature header h5{
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 78px;
}
.feature header h1{
    font-weight: lighter;
    font-size: 30px;
    padding-bottom: 78px;
}
.feature ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.feature ul li:nth-child(3),.feature ul li:nth-child(4){
    padding-top: 60px;
}
.feature ul li img{
    float: left;
}
.feature ul li header,.feature ul li p{
    margin-left: 70px;
}
.feature ul li{
    width: 365px;
}

.call-to-action{
    background-image: url(images/background_3.jpg);
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-end;
}
.call-to-action article{
    padding: 175px 200px 102px 10px;
    color: white;
}
.call-to-action article header h1{
    font-size: 34px;
    font-weight: lighter;
}
.call-to-action article p{
    padding: 42px 0;
    line-height: 28px;
    opacity: 0.7;
}
.call-to-action button{
    box-sizing: border-box;
    width: 240px;
    height: 60px;
    font-size: 15px;
    background-color: transparent;
    border:1px solid white;
    color: white;
    margin-right: 30px;
}
.call-to-action button:hover{
    background-color: white;
    color: black;
}
.call-to-action img{
    margin: 120px 0 26px 80px;
    padding: 25px 0 25px 40px;
    border: 1px solid lightgray;
    border-radius: 30px 0 0 30px;
    box-sizing: border-box;
    height: 540px;
}

.product{
    height: 582px;
    text-align: center;
}
.product header{
    padding-top: 97px;
}
.product ul{
    display: flex;
    justify-content: space-around;
}
.product ul li{
    width: 270px;
    height: 225px;
}
.product ul li img{
    margin-bottom: 22px;
}
.product-feature{
    height: 1002px;
}
.product-feature ul li{
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
}
.product-feature ul li:nth-child(2){
    flex-direction: row-reverse;
}
.product-feature ul li article{
    width: 30%;
}
.product-feature ul li article header{
    padding: 69px 0 36px 0;
    font-size: 19px;
    font-weight: lighter;
    line-height: 30px;
}

.crew{
    height: 1083px;
}
.crew ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:  15px;
    padding-top: 60px;
}
.crew header{
    padding-top: 97px;
    text-align: center;
}
.crew p{
    padding-top: 26px;
    box-sizing: border-box;
    width: 80%;
    padding-left: 15%;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: space-between;
}
.contact form, .contact article{
    margin: 71px 0;
    width: 46%;
}
.contact form{
    height: 558px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    letter-spacing: 2px;
    border: 1px solid lightgray;
}
.contact form label{
    height: 52px;
    line-height: 65px;
    text-transform: uppercase;
}
.contact form input,.contact form button, .contact form textarea{
    width: 80%;
    margin:auto;
    height: 52px;
    border: 1px solid lightgray;
    padding-left: 1rem;
    size: 2rem;
}
.contact form button{
    background-color: black;
    color: white;
}
.contact article{
    padding: 82px 0;
}
.contact article ul{
    padding-top: 30px;
}
.contact article ul li{
    display: flex;
    margin: 0 auto;
}
.contact article header h1{
    font-size: 34px;
    font-weight: lighter;
}
.contact article p,.contact article ul li img{
    line-height: 30px;
    padding-top: 15px;
    padding-right: 15px;
}
textarea{
    padding-top: 1rem;
}

footer{
    height: 412px;
    width: 100%;
    margin: auto;
    background-color: black;
}
footer section{
    padding-top: 82px;
    display: flex;
    justify-content: space-between;
    color: white;
}
footer section ul li{
    padding: 13px 0;
    opacity: 0.7;
}
footer section article h3{
    padding-bottom: 13px;
}
footer section article:nth-child(4) ul li{
    width: 280px;
}
footer section ul li img{
    padding-right: 16px;
}

